@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

<!-- CONTENT -->
<section class="content">
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)

            @Html.Partial("USNMiscPageElements/USN_HeaderStandard", @Model.Content)

            <!-- IMAGE -->
            @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
            <!--// IMAGE -->
            @Umbraco.Field("bodyText")
			
			@Html.Partial("allProcedures", @Model.Content)		
			
            @Html.Partial("USNListings/USN_SubpageListing", @Model.Content)

            @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents", @Model.Content)

        </div>
        <!--// CONTENT COL -->
        @Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })

    </div>
    <!--// ROW -->
    

    </div>
</section>
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

@section BodyTag
{
    <body>
}